# SPDX-FileCopyrightText: 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=5GC iptables rules
After=systemd-networkd.service
Wants=sys-subsystem-net-devices-core.device

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/sbin/iptables-restore -n < /etc/iptables/5gc-rules.v4'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
