# SPDX-FileCopyrightText: 2022-present Intel Corporation
# Copyright 2019-present Open Networking Foundation
#
# SPDX-License-Identifier: Apache-2.0

# Override values for omec-user-plane Helm Chart
# https://github.com/omec-project/sdcore-helm-charts/blob/main/bess-upf/values.yaml
enable: true
resources:
  enabled: false
images:
  repository: ""    # defaults to Docker Hub
  # following two lines pull busybox from Docker Hub instead of Aether Registry
  tags:
    tools: omecproject/busybox:stable
  #  bess: <bess image tag>
  #  pfcpiface: <pfcp image tag>
config:
  upf:
    name: "oaisim"
    sriov:
      enabled: false    # SRIOV is disabled by default
    hugepage:
      enabled: false    # Should be enabled if DPDK is enabled
    routes:
      - to: {{ ansible_default_ipv4.address }}
        via: 169.254.1.1
    enb:
      subnet: {{ ran_subnet }} # Subnet for the gNB network
    access:
      ipam: static
      cniPlugin: macvlan  # Can be any other plugin. Dictates how IP address are assigned
      iface: {{ core.data_iface }}
      gateway: 192.168.252.1
      ip: {{ upf_access_ip }}
    core:
      ipam: static
      cniPlugin: macvlan  # Can be any other plugin. Dictates how IP address are assigned
      iface: {{ core.data_iface }}
      gateway: 192.168.250.1
      ip: {{ upf_core_ip }}
    cfgFiles:
      upf.jsonc:
        mode: af_packet     # This mode implies no DPDK
        hwcksum: true
        log_level: "trace"
        measure_upf: true
        measure_flow: true
        gtppsc: true        # Extension header enabled in 5G.
        cpiface:
          dnn: "internet"              # Must match Slice dnn
          hostname: "upf"
          #http_port: "8080"
          enable_ue_ip_alloc: false    # If true, UPF allocates address from following pool
          ue_ip_pool: {{ upf_ue_ip_pool }} # IP pool used UEs if enable_ue_ip_alloc=true
        slice_rate_limit_config:       # Slice-level rate limiting (also controlled by ROC)
          # Uplink
          n6_bps: 10000000000          # 10Gbps
          n6_burst_bytes: 12500000     # 10ms * 10Gbps
          # Downlink
          n3_bps: 10000000000          # 10Gbps
          n3_burst_bytes: 12500000     # 10ms * 10Gbps
